- if user_signed_in?
	%p#intro
		Hello
		= current_user.email
		%br/
		%span
			Nala Qeybso Fikradada ku aadan musharaxaan.
- else
	%p#intro
		What's your muse?
		%br/
		%span
			Nala Qeybso Fikradada ku aadan musharaxaan.
#post_show
	
	.clearfix
		.post_image_description
			= image_tag @pin.image.url(:medium)
			%h1= @pin.title
			.description= simple_format(@pin.description)
			= render 'disqus'
		.btn-group.pull-right
			-	if user_signed_in? && current_user == @pin.user
				= link_to "Edit", edit_pin_path, class: "btn btn-success"
				= link_to "Delete", pin_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-success"

	
		.post_data
			= link_to like_pin_path(@pin), method: :put, class: "data" do
				%i.glyphicon.glyphicon-thumbs-up
				= pluralize(@pin.get_upvotes.size, "Like")
			= link_to dislike_pin_path(@pin), method: :put, class: "data" do
				%i.glyphicon.glyphicon-thumbs-down
				= pluralize(@pin.get_downvotes.size, "Dislike")
