<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :transaction_number %>
    <%= f.input :confirmed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
