<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction number:</strong>
  <%= @payment.transaction_number %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @payment.confirmed %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
